__pycache__/
*.pyc
.env
.venv/
*.log
*.wav
*.tar.gz
cloudflared-windows-amd64.exe
cookie.txt
cookies.txt
birlashtirilgan_dataset*/
full_mapping_dataset*/
whisper*/
musan/
downloads/
outputs/
segments/
uploads_tmp/
wandb/
